<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
	<% include ../partialsAdm/navAdm %>

  <div class="container">

    <a href="/solicitacoes"><i class="fas fa-angle-left"></i> Voltar</a>

    <ul class="nav nav-tabs my-3 mb-4">
      <li class="nav-item">
        <a class="nav-link active" href="#">Informações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solicitacoes/<%= solicitacao.id %>/orcamentos/edit">Orçamentos</a>
      </li>
    </ul>

<div class="my-3">
        <p style="margin: 0"><%= solicitante %></p>
        <p style="margin: 0"><%= moment(solicitacao.data).format('LLLL'); %></p>
        <p style="margin: 0"><%= solicitacao.quantidade %> Unidade(s)</p>
        <span class="badge badge-secondary"><%= solicitacao.status %></span>

        </div>
      

<div class="mb-5">
  <h5>Descrição do Produto:</h5>
  <p align="justify"><%= solicitacao.descricao %></p>
  <h5>Justificativa:</h5>
  <p align="justify"><%= solicitacao.justificativa %></p>
</div>

        <button type="button" class="btn btn-danger btn-sm">
          <i class="fas fa-trash-alt"></i> Excluir Solicitação</button>

  </div>

  <% include ../partials/footer %>